.resizable-block {
    --anchor-offset: -8px;
    --anchor-size: 20px;
    --anchor-center: calc(50% - var(--anchor-size) / 2);

    background: var(--text-color);
    position: absolute;

    .resizable-content {
        width: 100%;
        height: 100%;
        border: 4px solid var(--primary-color);
        box-sizing: border-box;
        padding: calc(var(--anchor-offset) * -1);
        display: flex;
        overflow: hidden;
        justify-items: stretch;


        &>* {
            flex: 1 1;
            width: 100%;
            height: 100%;
        }

        .anchor {
            width: var(--anchor-size);
            height: var(--anchor-size);
            box-sizing: border-box;
            border: 4px solid var(--primary-color);
            border-radius: 50%;
            background: var(--text-color);
            position: absolute;


            &.n {
                top: var(--anchor-offset);
                left: var(--anchor-center);
                cursor: ns-resize;
            }

            &.s {
                bottom: var(--anchor-offset);
                left: var(--anchor-center);
                cursor: ns-resize;
            }

            &.e {
                top: var(--anchor-center);
                right: var(--anchor-offset);
                cursor: ew-resize;
            }

            &.w {
                top: var(--anchor-center);
                left: var(--anchor-offset);
                cursor: ew-resize;
            }

            &.nw {
                top: var(--anchor-offset);
                left: var(--anchor-offset);
                cursor: nwse-resize;
            }

            &.ne {
                top: var(--anchor-offset);
                right: var(--anchor-offset);
                cursor: nesw-resize;
            }

            &.sw {
                bottom: var(--anchor-offset);
                left: var(--anchor-offset);
                cursor: nesw-resize;
            }

            &.se {
                bottom: var(--anchor-offset);
                right: var(--anchor-offset);
                cursor: nwse-resize;
            }
        }
    }
}